.abs,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}
.rel,
.cards .card,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}

.cards{
  margin-top: 5%;
  animation: opacityShow 2s;
}
.cards,
.news {
  display: flex;
  color: #000;
  flex-wrap: wrap;
}
.cards .card,
.news .card {
  margin: 20px;
  margin-top: 15px;
  width: 46%;
  height: 50%;
  min-height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
  max-height: 335px;
}
.cards .card img,
.news .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color:rgb(255,255,255);
  transform: translateY(100%);
  transition: 0.3s;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  background: rgb(250, 115, 0, 0.7);
}
main figure{
  border: 5px dashed rgb(250, 115, 0);
}
.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -30%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -10%;
  opacity: 0.15;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}


@-webkit-keyframes opacityShow {
  0% {
    margin-top:  -100px;
  }
  100% {
    margin-top: 5%;
  }
}
@-moz-keyframes opacityShow {
  0% {
    margin-top:  -100px;
  }
  100% {
    margin-top: 5%;
  }
}
@-o-keyframes opacityShow {
  0% {
    margin-top:  -100px;
  }
  100% {
    margin-top: 5%;
  }
}
@keyframes opacityShow {
  0% {
    margin-top:  -100px;
  }
  100% {
    margin-top: 5%;
  }
}




.loader{
  background: url(/assets/styles/body/projects/planetloading.gif);
      position: fixed;
      width: 100%;
      height: 100vh;
      background-size: contain;
      z-index: 2;
      background-position-x: center;
  }
  
  .loader a::before {
    background-image: url(/assets/img/hyperlink.svg);
        background-size: 25px 25px;
      display: inline-block;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      content: "";
      margin: 10px;
      margin-top: 15px;
      
  }
  
  
  
  
  .projectsDetail{
    top:0;
    position: absolute;
      height: 100vh;
      display: flex;
      justify-content: center;
      width: 100%;
      max-height: 100vh;
      background-size: cover !important;
      background-blend-mode: overlay;
      background-color: #F1F1F1 !important;
      color:white;
      flex-wrap:wrap;
      content: attr(text);
  
  }
  .detailImg{
            position: absolute;
            background-size: cover;
            width: 100%;
      }
   .projectsDetail h1{
   font-size: 20px;
      margin: 0;
      bottom: 10px;
      position: fixed;
      text-shadow: 1px 1px 2px black, 0 0 1em black;
      color: white;
      left: 10px;
      animation: left 2s  both;
   }
   .projectsDetail h1 a{
     display: flex;
      align-items: center;
      text-shadow: unset;
      color: white;
      text-decoration: none;
      
   }
  
  
  .detailImg{
  border-radius: 10px;
      overflow: hidden;
      background: white;
      -webkit-box-shadow: 7px 7px 43px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: 7px 7px 43px 2px rgba(0,0,0,0.45);
  box-shadow: 7px 7px 43px 2px rgba(0,0,0,0.45);
  margin-left: -300px;
     animation: left 2s  both;
     animation-delay: 2s;
  }
  .detailImg img{
     width:280px;
     
  }
  .detail__discription{
     width: 100%;
     font-weight: bolder;
      font-family: 'Amatic SC', bold;
  
  }
  .detail__box{
  width: 50%;
  text-align:center;
    height: fit-content;
      margin: 30px;
      background: white;
      padding: 40px;
      color: black;
      border-radius: 10px;
           margin-top: -150px;
      animation: right 2s  both;
      animation-delay: 4s;
        -webkit-box-shadow: 7px 7px 43px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: 7px 7px 43px 2px rgba(0,0,0,0.45);
  box-shadow: 7px 7px 43px 2px rgba(0,0,0,0.45);
  }
  .detail__box a{
     margin-top:30px;
     position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    user-select: none;
    padding: 5px;
    outline: none;
    border-radius: 3px / 100%;
    background-image:
     linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
     linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
    font-size:16px;
  }
  .detail__box a:hover{
     transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  }
  @keyframes hidden{
    0% {
       margin-top: 0%;
    }
    90% {
      opacity: 1;
    } 
    100% {
      margin-top: -100%;
       opacity: 0;
    } 
  }
  @keyframes left {
    0% {
       margin-left: -500%;
    }
    100% {
      margin-left: 0px;
    } 
  }
  
  
  @media (max-width: 1160px) {
    .detail-img {
      top: 0;
    }
  } 