main{
  height: 100vh;
}


.content__skill-box a{
  color:#949494;
  text-decoration: none;
}
.content__name{
  background:#fa7300;
  color:#fff;
  padding:10px;
}
#smoke{
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
#main-page{
	height: 100vh;
	width:100%;
	position:relative;
	display:flex;
	justify-content: center;
	align-items: center;
  overflow: hidden;
}
#main-page h1{
  width:100%;
  font-size: 90px;
  display: flex;
    align-items: center;
}
#main-page h2{
	width:100%;
      padding: 0;
    margin: 0;
}

.main-page__img{
  width: 80%;
    position: absolute;
    bottom: -150px;
    left: -570px;
    animation: slide-from-right 2s  both;
}

.content p {
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  top: 18%;
  font-size:100px;
}
.content p .content__sum-title {
  font-size:20px;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 2.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 60em;
  margin: 0 0 0 -20em;
}
.content {
  text-transform: uppercase;
  padding: .25em 0 .325em;
  display: block;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.9);
  animation: bounce-top 2s  both;
  font-family: 'Open Sans', sans-serif;
  }
.content__skill-box{
  display:flex;
  justify-content: center;
  margin-top: 25px;
}
.content__skill-box div{
    color:black;
    background:white;
    margin: 10px;
    border: 1px solid #fa7300;
    padding: 15px;
    cursor:pointer;
    font-family: 'Amatic SC', cursive;
}
.content__skill-box div:hover{
    animation: jump 2s  both; 
}
.content__title{
  font-family: 'Josefin Sans', sans-serif;
}

@keyframes slide-from-right{
  from{
    left:-250%;
  }
  to{
    left: -30%;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes jump {
  0% {
     transform: translateX(0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    border-color: #fa7300;
    transform: translateX(100px);
    background: #fa7300;
    transform: translateY(0px);
    animation-timing-function: ease-out;
    color:#fff;
    font-weight:bold;
  }
}





.anim-name {
  background-image: linear-gradient(transparent 50%, black 50%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  transition: .2s;


}

.anim-name:hover {
  background-position: 0 100%;
}
.content__sub-title{
  font-size:65px;
  font-family: 'Amatic SC', cursive;
}
@media (max-width: 1160px) {
  .content__name.anim-name{
      color:black;
      display: contents;
  }
  #main-page h1{
    color:black;
  }
}

@media (max-width: 600px) {
  #main-page h2 {
    font-size: 45px;
  }
  #main-page h1{
      font-size: 50px;
  }
  .content__skill-box div{
    padding: 5px;
  }
}

@media (max-width: 460px) {
  .content__skill-box{
     display: inline;
  }
}







.container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container span{
  text-transform: uppercase;
  display: block;
 
}
.container span:first-child{
   padding: 30px;
   
}

.text1{
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  background: #000;
  position: relative;
  animation: text 3s 1;
  
}

.text2{
  text-shadow: 0px 3px 0px #000, 0px 14px 10px rgba(0,0,0,0.15), 0px 24px 2px rgba(0,0,0,0.1), 0px 34px 30px rgba(0,0,0,0.1);
    color: #fa7300;
    font-size: 33px;
    letter-spacing: 1;
}

.teck-container{
  display: flex;
    position: absolute;
    top: 25%;
    width: 100%;
}
.teck-container i{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1;
    max-width: 50px;
    max-height: 50px;
    padding: 8px;   
    position:absolute;
    left: 0;
    opacity: 0;
}




.teck-container i svg path{
  
  width: 300px !important;
  height: 300px !important;
  
  
}

.teck-container i:nth-child(1){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.teck-container i:nth-child(2){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 9s;
}
.teck-container i:nth-child(3){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 15s;
}
.teck-container i:nth-child(4){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 21s;
}
.teck-container i:nth-child(5){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 27s;
}
.teck-container i:nth-child(6){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 33s;
}
.teck-container i:nth-child(7){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 39s;
}
.teck-container i:nth-child(8){
  animation: fall 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 45s;
}


@keyframes fall{
  0%{
    left: 0%;
    opacity: 0;
  }
  50%{
    left: 45%;
    opacity: 1;
  }
  80%{
    left: 80%;
    opacity: 0;
  }
}


@keyframes text{
  0%{
    color: #000;
    margin-bottom: -90px;
  }
  30%{
    margin-bottom: -90px;
  }
  80%{
    margin-bottom: -30px;
  }
  90%{
    letter-spacing: 8px;
    margin-bottom: 10px;
  }
}

@keyframes pulse {
  0% {
    
  }
  100% {
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
  }
}

@keyframes pulserevert {
  0% {
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
  }
  100% { 
    height: 0;
    background-color: none;
  }
}


@media (max-width: 970px) {
  
  
  @keyframes animatetotop {
    0% {
      content: 'Р';
    }
    2% {
      content: 'РУ';
    }
    4% {
      content: 'РУМ';
    }
    6% {
      content: 'РУМЯ';
    }
    8% {
      content: 'РУМЯН';
    }
    10% {
      content: 'РУМЯНЦ';
    }
    12% {
      content: 'РУМЯНЦЕ';
    }
    14% {
      content: 'РУМЯНЦЕВ';
    }
    16% {
      content: 'РУМЯНЦЕВ А';
    }
    18% {
      content: 'РУМЯНЦЕВ АЛ';
    }
    20% {
      content: 'РУМЯНЦЕВ АЛЕ';
    }
    22% {
      content: 'РУМЯНЦЕВ АЛЕК';
    }
    24% {
      content: 'РУМЯНЦЕВ АЛЕКС';
    }
    26% {
      content: 'РУМЯНЦЕВ АЛЕКСА';
    }
    28% {
      content: 'РУМЯНЦЕВ АЛЕКСАН';
    }
    30% {
      content: 'РУМЯНЦЕВ АЛЕКСАНД';
    }
    32% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР';
    }
    34% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР ';
    }
    36% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  F';
    }
    38% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Fr';
    }
    40% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Fro';
    }
    42% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Fron';
    }
    44% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Front';
    }
    46% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Fronte';
    }
    48% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Fronten';
    }
    50% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend';
    }
    52% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-';
    }
    54% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-D';
    }
    56% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-De';
    }
    58% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Dev';
    }
    60% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Deve';
    }
    62% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Devel';
    }
    64% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Develo';
    }
    66% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Develop';
    }
    68% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Develope';
    }
    70% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Developer';
    }
    100% {
      content: 'РУМЯНЦЕВ АЛЕКСАНДР  Frontend-Developer';
    }
  }
  @keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
   
  @-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
  .main-page__img{
    width: unset;
    bottom: unset;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    z-index: -1;
  }
  .white-overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    background: rgba(255,255,255, 0.9);
  }
  .text1{
    max-width: 50%;
    MARGIN: AUTO;
    TEXT-ALIGN: CENTER;
    Letter-spacing: UNSET;
    background: unset;
  }
  #main-page .content .container *{
    display: none;
  }
  #main-page .content .container::before{
    font-family: 'Caveat', cursive;
    content: '';
    color: black;
    animation: animatetotop 10s linear infinite alternate;
    animation-fill-mode:forwards;

    font-size: 40px;
  }
  #main-page .content .container::after{
    content: '_';
    color: black;
    font-size: 40px;
    animation: blinker 0.5s linear infinite alternate ;
  }
  .content {
    animation: unset;
  }
  .teck-container{
    display: -webkit-box;
  }
  .teck-container i {
    position: absolute;
    background: #ebebeb;
    padding: 10px;
    border-radius: 10px;
  }
}